* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}

body {
    background-color: #00314c;
}
header{
    width: 100%;
    height: 200px;
    background-color: #002336;
    background-image: url(../img/banner_city.png);
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
}
#ft_logo{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #e6e6e6;
}
#ft_logo img{
    width: 200px;
}
main{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
}
.text_Area{
    font-size: 50px;
    text-align: left;
    color: rgb(255, 178, 126);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-area{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-area {
    width: 600px;
    height: auto;
    min-height: 400px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    border-radius: 19px;
}


.form-area {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.input-area {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.input-area label {
    color: #6E5F5B;
    font-size: 18px;
    width: 100%;
}

.input-area input {
    height: 20px;
    border-radius: 5px;
    border: 1px solid #000000 ;
    color: #6E5F5B;
    font-size: 15px;
    width: 250px;
}


.text-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6E5F5B;
}


.btn-area {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-area a {
    width: 200px;
    height: 50px;
    background-color: #bf6f0a;
    border-radius: 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    color: white;
}

.section {
    background-color: #EFE2DF;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.esquerda, .direita {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.direita img {
    height: 80%;

}

.esquerda {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
}


.texto2 {
    font-size: 50px;
    width: 300px;
}

a{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    width: 100px;
    background-color: #bf6f0a;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
}

.texto{
    color: gray;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 10px;

}

#texto{
    color:gray;
    align-items: center;
}

.rede-social {
    display: flex;
    flex: 1;
    margin-top: 14px;
    font-size: 18px;
    justify-content:space-around;
    margin: 3px;
}

.rede-social a i {
    font-size: 30px;
    color: rgb(5, 5, 5);

}
 .texto3{
     color: gray;
     text-align: center;

 }