* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}

body {
    background-color: #00314c;
    background-image: url(../img/fundo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 200px;
    background-color: #002336;
    background-image: url(../img/banner_city.png);
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
}
#ft_logo{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #e6e6e6;
}
#ft_logo img{
    width: 200px;
}
main{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
}
.text_Area{
    font-size: 50px;
    text-align: left;
    color: rgb(255, 178, 126);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-area{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-area {
    width: 400px;
    height: auto;
    min-height: 500px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    border-radius: 19px;
}
.form-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}
form{
    height: auto;
    min-height: 400px;
    padding: 30px;
}
.cx_textLog{
    height: auto;
    min-height: 70px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 10px;
}.cx_textLog h1{
    font-size: 50px;
}
.cx_interacao{
    height: auto;
    min-height: 100px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-bottom: 20px;
}
.cx_bt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.cx_bt a{
    width: 200px;
    height: 40px;
    background-color: #20affc;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
}
.cx_bt button:hover{
    background-color: #0289d1;
    transition: 0.2s;
}
.cx_interacao label{
    margin: 10px;
    font-size: 20px;
}
.cx_interacao input{
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}
.cx_links{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.cx_links a{
    color: rgb(70, 70, 70);
    text-decoration: none;
}
.cx_links a:hover{
    text-decoration: underline;
}